@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0 auto;
  background: #000;

  border-bottom: 1px solid #f2f2f2;
  /* position: sticky;
  top: 0; */
}

.navbar h1 {
  color: #f1356d;
  background-color: #f2f2f2;
  padding: 0 10px;
  border-radius: 4px;
  border: 3px solid #f1356d;
}
.navbar h1:hover {
  color: #f1356d;
  background-color: #fff;
}
.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .links {
  margin-left: auto;
}
.navbar-links .link {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #fff;
  background-color: #f1356d;
  border-radius: 8px;
}
.active {
  background-color: black !important;
  border: 1px solid pink;
  color: #fff !important;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-preview button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.blog-preview a {
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px;
}

/* create new blog form */
.create {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.form {
  width: 600px;
}
.create textarea {
  width: 100%;
  /* height: 130px; */
  height: auto;
  padding: 6px 10px;
  margin: 10px 0;
  /* border: 1px solid #ddd; */
  border: none;

  box-sizing: border-box;
  display: block;
  overflow: hidden;
  outline: none;
  font-size: 1.2rem;
}

.create .blog-name {
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 6px 10px;
  margin: 10px 0;
  font-size: 2rem;
  /* border: 1px solid #ddd; */
  border: none;
  box-sizing: border-box;
  display: block;
  outline: none;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.editProfile input {
  width: 100%;
  padding: 6px;
}
